/**
* Mixins for browser alignment
*
* @section Framework
* @author echristensen
*/
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%pseudo-block {
	@extend %hide-text;
	content: '';
	display: block;
}

%list-helper {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: ' '; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

@mixin font-size-rem($size) {
	font-size: $size;
	font-size: $size / $base-font-size * 1rem;
}

@function em($target, $context: $base-font-size) {
	@if $target == 0 {
		@return 0
	}

	@return $target / $context * 1em;
}

/// Slightly lighten a color
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
	@return mix($color-white, $color, $percentage);
}

/// Slightly darken a color
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
	@return mix($color-black, $color, $percentage);
}

// Easing - http://matthewlein.com/ceaser/
$easing-linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$easing-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$easing-ease-in: cubic-bezier(0.42, 0, 1, 1);
$easing-ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easing-ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easing-ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easing-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easing-ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easing-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easing-ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easing-ease-out: cubic-bezier(0, 0, 0.58, 1);
$easing-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing-ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$easing-ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easing-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$easing-ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easing-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easing-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easing-ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$easing-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$easing-ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easing-ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$easing-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easing-ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
