/**
* Media query mixin for better breakpoint alignment, ported from Inuit CSS
* Based on work from LJD <ljd.dk>
* @section Framework
* @author echristensen
*/

@mixin media($point, $max-width: false) {
	@if $point == print {
		@media print {
			@content;
		}
	}	@else if $point == retina {
		@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi) {
			@content;
		}
	}	@else {
		@if ($max-width) {
			@if $point == lg {
				@media screen and (max-width:$bp-desktop-large - 1px) {
					@content;
				}
			}	@else if $point == md {
				@media screen and (max-width:$bp-desktop-small - 1px) {
					@content;
				}
			}	@else if $point == sm {
				@media screen and (max-width:$bp-tablet - 1px) {
					@content;
				}
			}	@else if $point == xs {
				@media screen and (max-width:$bp-mobile - 1px) {
					@content;
				}
			}	@else {
				@media screen and (max-width:$point) {
					@content;
				}
			}
		}	@else {
			@if $point == lg {
				@media screen and (min-width:$bp-desktop-large) {
					@content;
				}
			}	@else if $point == md {
				@media screen and (min-width:$bp-desktop-small) {
					@content;
				}
			}	@else if $point == sm {
				@media screen and (min-width:$bp-tablet) {
					@content;
				}
			}	@else if $point == xs {
				@media screen and (min-width:$bp-mobile) {
					@content;
				}
			}	@else {
				@media screen and (min-width:$point) {
					@content;
				}
			}
		}
	}
}
