/**
* Test component
*
* @section Components
* @author echristensen
*/

// Component variables
$test-color-variable: #000;

// Component block
.test-component {
	position: relative;
}

// Component elements
.test-component__element {
	@include clearfix();
}

// Component sub-components
.test-component .sub-component {
	margin-top: 20px;
}

// Component modifiers
.test-component--modifier {
	@include clearfix();

	background: $test-color-variable;

	.test-component__element {
		display: none;
	}
}

// min-width
@include media(sm) {
	.test-component {
		width: 80%;
	}
}

// max-width
@include media(sm, true) {
	.test-component {
		width: auto;
	}
}
