{{> htmlhead}}

<h1>Template list:</h1>

<ul>
	<li><a href="/index">landingpage (index.html)</a></li>
	{{#each templates}}
	<li><a href="/{{this}}">{{this}}</a> ({{this}}.html)</li>
	{{/each}}
</ul>

{{> htmlfooter}}
